@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap");

* {
  font-family: "Nunito Sans", sans-serif;
}

.btn-navbar {
  border: none;
  padding: 8px 16px;
  border-radius: 100px;
  color: white;
  background-color: #ff5f5f;
}

.bg-image {
  background-image: url("https://cdn.ko-fi.com/cdn/landing_assets/kofi_heroimg.png");
  height: 760px;
  background-size: cover;
  background-position: center;
}

.form-input {
  border-radius: 40px;
  /* border: 0.1px solid white; */
  box-shadow: 0 3px 8px #d2d4d6;
}

.btn-search {
  font-size: 20px;
  border: none;
  border-radius: 30px;
  margin-bottom: 15px;
  font-weight: bold;
  color: white;
  background-color: #ff5f5f;
}

.btn-started {
  border: none;
  border-radius: 30px;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  color: white;
  background-color: #ff5f5f;
}

.box {
  max-width: 1600px;
}

.line-height {
  padding: 8px 0;
  word-spacing: 2px;
  line-height: 40px;
}

.gradient-text {
  background: linear-gradient(to right, orange, #ec38bc, #f44242);
  background-clip: text;
  color: transparent;
}

.btn-search:hover {
  background-color: #f04643;
}

.btn-started:hover {
  background-color: #f04643;
}
